.post{
	background: white;
	padding: 20px;
	width: 50%;
	margin-left: 25%;
	margin-bottom:20px;
}
.post > h1{
	color: black;
	font-size: 36px;
	margin: 8px 0px;
}
.post h2{
	color:dimgray;
	font-size: 28px;
	margin:0;
}
.message{
	color: black;
	margin-top:20px;
	font-family:inherit;
	word-break:break-word;
}
.message :where(h1, h2, h3, h4, h5, h6){
	color: black !important;
}
.message a{
	color:dimgray !important;
}
.message a:hover{
	color: black !important;
	transform: none;
}
@media (max-width:800px){
	.post{
		width:95vw;
		margin-left: 2.5vw;
	}
}
@media (max-width:400px){
	.message img{
		width:calc(95vw - 40px);
	}
}
.note{
	text-align: center;
	padding: 5px;
}
