@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	background: #2a2a2a;
	color:lightgray;
	padding:0;
	margin:0;
	padding-bottom:20px;
}
*, *::before, *::after{
	box-sizing: border-box;
}
nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 70px;
	justify-content: space-around;
	width: 100%;
	background:#181818;
	padding:10px;
	position: fixed;
	top:0;
	z-index:2;
}
nav h1{
	font-size:25px;
}
a.navbar__link{
	margin-left:40px;
	font-size:20px;
}
a{
	color:darkgray;
	text-decoration:none;
	transition: 0.2s;
	display: inline-block;
}
a:hover{
	color:lightgray;
	/*text-decoration:underline;*/
	transform:scale(1.25);
}
a.logo{
	display: flex;
	flex-direction: row;
	align-items: center;
	color:lightgray;
}
#logoimage {
  border-radius: 50%;
  width: auto;
}
header{
	background:#424242;
	padding: 20px;
	padding-left: 20%;
}
header::after{
	content:"";
	display:inline-block;
	background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 150' preserveAspectRatio='none' style='height: 100%25; width: 100%25;'%3E%3Cpath d='M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z' style='stroke: none;fill: %23424242;'%3E%3C/path%3E%3C/svg%3E");
	height:150px;
	width:100%;
	position: absolute;
	left:0px;
}
header h1{
    font-size: 60px;
    color: white;
    font-weight: 900;
    letter-spacing: 3px;
    text-shadow: 1px 1px white, -1px 1px white, -1px -1px white, 1px -1px white;
	margin:0px 0px 50px 0px;
	word-wrap: break-word;
}
header h3{
	font-size:36px;
	margin:0;
	word-wrap: break-word;
}
.header__hashtag{
	color:darkgray;
	font-size:24px;
	margin-top:40px;
	display:inline-block;
	width:min(908px, calc(80vw - 20px));
}
#projects{
	margin-top:150px !important;
}
#projects, #users{
	width:100%;
	text-align: center;
	display:flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}
#projects h1, #users h1{
	color: white;
	font-size:36px;
}
.featured .coolbutton{
	border: 5px solid yellow;
	color:yellow;
}
.coolbutton{
	border: 5px solid white;
	color: white;
	padding: 15px;
	background: transparent;
	font-size: 24px;
	border-radius:8px;
	font-weight:900;
	cursor: pointer;
}
.project__image{
	float:left;
}
#projects aside{
	float:right;
	margin-left:20px;
}
#projects figure{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	box-shadow:0px 0px 16px;
	padding:32px;
	transition:0.2s;
	width:fit-content;
	flex-wrap: wrap;
	max-width:900px;
}
.testimonial{
	background: lightgray;
	display: flex;
	flex-direction: row;
	color: rgb(68, 68, 68);
	padding: 20px;
	border-radius:8px;
	box-shadow: 0px 0px 8px white;
	max-width:400px;
	margin: 20px;
}
.testimonial img{
	height:120px;
	border-radius: 100%;
	margin-right:20px;
}
.testimonial .author{
	font-size:20px;
	margin-top:10px;
	display: inline-block;
}
#users > div{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
}
main{
	margin-top:70px;
	z-index: 1;
}
footer{
	/*margin-top:20px;*/
	font-size:18px;
	width:100%;
	text-align: center;
  bottom: 0;
  position: fixed;
  background-color: #2a2a2a;
}
footer a{
	transform:none !important;
}
#gsugg{
	text-align: center;
    width: 100%;
    background: #444444;
    color: white;
    padding: 20px;
}
#gsugg h1{
	font-size: 36px;
	word-break: break-all;
	margin:10px 0px;
}
#gsugg h2{
	margin:4px 0px;
	font-size: 25px;
	color:lightgray;
	word-wrap: break-word;
}

@media (max-width: 900px){
	.logo h1{
		display: none;
	}
}
@media (max-width: 750px){
	#projects figure{
		flex-direction: column;
	}
}
@media (max-width: 500px){
	.project__image img{
		width: 80vw !important;
	}
}
@media (max-width: 700px){
	nav{
		flex-direction: column;
		max-width: 100px;
		overflow: hidden;
		max-height:75px;
		align-items: flex-start;
		justify-content: flex-start;
		width:fit-content;
		width:-moz-fit-content;
		height: fit-content;
		height:-moz-fit-content;
		transition:0.5s linear max-height, 0.5s linear max-width, 1s justify-content, 1s align-items;
	}
	nav a{
		margin:5px !important;
	}
	main{
		margin-top:0;
	}
	nav:hover{
		align-items: center;
		justify-content: center;
		max-width:10000px;
		max-height:10000px;
		transition:0.5s max-height, 0.5s max-width, 1s justify-content, 1s align-items;
	}
}
#blog{
	text-align:center;
	background:#565656;
	padding:20px;
}
#blog h1{
	font-size:36px;
	color:white;
}


/* For blogs*/
.post{
	background: white;
	padding: 20px;
	width: 50%;
	margin-left: 25%;
	margin-bottom:20px;
	text-align: left;
}
.post > h1{
	color: black !important;
	font-size: 36px;
	margin: 8px 0px;
}
.post h2{
	color:dimgray;
	font-size: 28px;
	margin:0;
}
.message{
	color: black;
	margin-top:20px;
	font-family:inherit;
	word-break:break-word;
}
.message :where(h1, h2, h3, h4, h5, h6){
	color: black !important;
}
.message a{
	color:dimgray !important;
}
.message a:hover{
	color: black !important;
	transform: none;
}
@media (max-width:800px){
	.post{
		width:95vw;
		margin-left: 2.5vw;
	}
}
@media (max-width:400px){
	.message img{
		width:calc(95vw - 40px);
	}
}
img.round{
	border-radius:50%;
}